.users__table{margin: 15px;
border: 2px solid black;
border-collapse: collapse;
  border-spacing: 0;
}

.users__table>thead>tr>th{
    background-color: #404040;
    width: max-content;
    padding: 0px 15px;
}
.users__table>thead>tr{
    border: 1px solid black;
}

.users__table>thead>tr>th{
    border: 1px solid black;
}

.users__table>tbody>tr>td{
    background-color: #363636;
    border: 1px solid black;
    vertical-align: top;
    padding: 5px 15px;
}
    .users__table>tbody>tr{
    border: 1px solid black;
}

.button__delete{
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 3px;
    transition: background-color 0.2s, border 0.2s;
}

.button__delete:hover{
    border: 1px solid #fff;
    background-color: #ff0000;
}