.list__parametrs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-height: 150px;
    flex-wrap: wrap;
}

.list__parametrs>li {
    height: 40px;
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #fff
}

.input__date {
    padding: 0px 15px;
    margin-right: 15px;
    cursor: pointer;
}

.edit__container {
    background-color: #263040;
}

.about__me__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff
}

.about__me__textarea {
    width: 100%;
    resize: none;
    min-height: 126px;
    background-color: #1D2633;
    border: 0;
    color: #ECEFF1;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    outline: none;
    transition: box-shadow 0.2s;
}

.male {
    display: inline;
}

.female {
    display: inline;
    
}

.gender__picker__container {
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    gap: 2px;
    cursor: pointer;
}

.gender__male {
    color: #446BED;
}

.gender__female {
    color: #FF547F;
}

.edit__title {
    font-size: 24px;
    color: #fff;
    margin-bottom: 15px;
}

.about__me__stats {
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 14px;
    color: #888;
}

.edit__parametr__telegram {
    margin-right: 15px;
}

.input__telegram {
    margin-right: 15px;
}

.parametr__input {
    height: 40px;
    width: 100%;
    background-color: #1D2633;
    border: none;
    border-radius: 10px;
    margin-left: 15px;
    font-size: 14px;
    outline: none;
    padding-left: 15px;
    transition: box-shadow 0.2s;
}

.about__me__textarea:focus{
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}
.parametr__input:focus {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

.activity__buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 15px
}

.button__activity {
    width: 250px;
    height: 43px;
    border-radius: 15px;
    border: 0;
    margin-right: 15px;
    margin-top: 15px;
    text-shadow: 1px 1px 4px #000;
    transition: background-color 0.3s;
}

.button__activity__save {
    background: #44EB99;
    cursor: pointer;
}

.button__activity__save:hover{
    background-color: rgba(68, 235, 153, 0.6);
}

.button__activity__cancel {
    background: #36C5F0;
    cursor: pointer;
}

.button__activity__cancel:hover{
    background-color: rgba(54, 197, 240, 0.6);
}
.date__picker__container {
    text-wrap: nowrap;
}

.about__me__container {
    display: flex;
    flex-direction: column;
}
