.interest__title{
    font-size: 24px;    
    }

    .interest__list{
        padding: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 209px;
        gap: 5px
    }

    .interest{
        background-color: #1D2633;
        height: 100%;
        width: 100%;
        border-radius: 30px;
        display: flex;
        max-height: 210px;
    }
    

    .tag__container>p{
        color: var(--lightGray);
        font-style: italic;
    }
    
    .tag__container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        gap: 5px;
    height: 24px;
    width: 200px;
    
    
    }

    .tag__color{
        width:15px;height:15px;border-radius:50%;
    
    
    }