.main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff10; /* Прозрачный фон */
    margin: auto;
}

.content {
    width: 100%;
    text-align: center;
}

.login__title {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 16px;
}

.login__description {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 36px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px; 
    width: 100%;
}

.submit_button {
    width: 100%;
    max-width: 150px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    background-color: #44eb99;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.submit_button:hover {
    background-color: #14c06c;
    transform: scale(1.05);
}

.submit_button:active {
    transform: scale(1);
}

.submit_button:disabled {
    background-color: #61605e;
    cursor: not-allowed;
}

.disabled_button {
    opacity: 0.6; 
    pointer-events: none;
}

