:root {
  line-height: 1.5;
  font-weight: 400;

  --green: #44eb99;
  --green-hover:  #14c06c; /* 30% */
  --lightGray: #c6cfda;
  --linkBlue: #008bff;
  --heightAuth: 450px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 1);
  background-color: #1D2633;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover{
  color: var(--linkBlue)
  
}

@font-face {
  font-family: 'SB Sans Text';
  src: url('assets/fonts/SB\ Sans\ Text.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  /* overflow: hidden; */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'SB Sans Text', sans-serif;
}


body{
  overflow-x: hidden;
}

body::-webkit-scrollbar{
  width: 8px;
}

body::-webkit-scrollbar-track{
  border-radius: 6px;
  background: #2C384A; 
}

body::-webkit-scrollbar-thumb{
  background: #44EB99; 
  border-radius: 6px; 
}

a {
  font-weight: 500;
  color: #008bff;
  text-decoration: inherit;
  transition: color 0.2s;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:hover {
  border-color: #861be3;
}

a:hover{
  border-color: #008bff;
}

.back-img {
  z-index: -3;
  position: fixed;
  filter: blur(8px);
}

.green {
  top: 14em;
  left: -2em;
}

.purple {
  bottom: -1em;
  right: -2.5em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}