:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1D2633;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow: hidden; 
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

body{
  font-family: 'SB Sans Text', sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  transition: color 0.2s;
}

a:hover {
  color: #d0a6f4;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:hover {
  border-color: #861be3;
}

a:hover{
  border-color: #861be3;
}

.back-img{
  z-index: -3;
  position: fixed;
  filter: blur(8px);
}

.green{
  top: 14em;
  left: -2em;
}

.purple{
  bottom: -1em;
  right: -2.5em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}