.card {
    display: flex;
    flex-direction: column;
    background-color: #263040;
    border-radius: 20px;
    padding: 20px;
    width: 500px;
    height: 200px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: background-color 0.3s;
}

.card:hover {
    background-color: #3E4857;
}

.mainInfo__container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-decoration: none;
    color: inherit;
}

.avatar_container {
    width: 120px;  
    height: 140px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.avatarContainer {
    width: 120px;  
    height: 120px;
    background-color: #f0f0f0;
    border-radius: 50%;
    padding: 25px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar {
    width: 70px;
}

.username {
    display: inline-block;
    background-color: #861BE3;
    color: #FFF;
    padding: 2px 5px;
    border-radius: 10px;
    position: relative;
    bottom: 10px;
    max-width: 136px;
    font-weight: 500;
    word-wrap: break-word;
    white-space: normal;
    text-align: center;
    font-size: 12px;
}

.info_container {
    text-align: start;
    width: 300px;
    color: #FFF;
}

.description {
    display: -webkit-box;
    color: #C6CFDA;
    font-size: 14px;
    line-clamp: 1;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.buttons_container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
}

.button {
    padding: 5px 30px;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s, transform 0.2s;
}

.acceptBtn {
    background-color: #44EB99;
    color: #FFF;
}

.acceptBtn:hover {
    background-color: rgba(68, 235, 153, 0.6);
}

.cancelBtn {
    background-color: #FF4A50;
    color: #FFF;
}

.cancelBtn:hover {
    background-color: #c82333;
}
